<ul class="contact_list">
  <% @contacts.each do |contact| %>
    <li>ID: <a href="/contacts/<%= contact.id %>"><%= contact.id %></a> - Name: <%= contact.first_name %> <%= contact.last_name %></li>
  <% end %>
</ul>