<h1>Welcome to <%= @crm_app_name %></h1>
<%= Time.now.ctime %>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <!-- please complete me with links to other actions -->
  <li><a href="/add_contact">Add a contact</a></li>
  <li><a href="/modify_contact">Modify a contact</a></li>
  <li><a href="/display_contact">Display a contact</a></li>
  <li><a href="/display_contact_attribute">Display contact attribute</a></li>
  <li><a href="/delete_contact">Delete a contact</a></li>
</ul>