<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title><%= @title %></title>
</head>
<body>
  <div class="page">
    <header>
        <h1 class="banner_title"><%= @banner_title %></h1>
    </header>

    <nav class="col1">
      <ul>
        <li><a href="/contacts">View all contacts</a></li>
        <li><a href="/contacts/new">Add a contact</a></li>
        <li><a href="/display_contact_attribute">Display contact attribute</a></li>
      </ul>
    </nav>

    <div class="main_content col2">
      <%= yield %>
    </div>

    <footer>
        <p>&copy;Irwin Chan 2015</p>
    </footer>
  </div>
</body>
</html>