<form action="/contacts" method="post">
  <ul class="contact">
    <li>
      First Name:
      <input type="text" name="first_name">
    </li>
    <li>
      Last Name:
      <input type="text" name="last_name">
    </li>
    <li>
      Email:
      <input type="text" name="email">
    </li>
    <li class="note">

      <textarea type="text" name="note">notes</textarea>
    </li>
    <li>
      <input type="submit" name="Submit">
    </li>
  </ul>
</form>
